<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>day7-task</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <div class="card">

        <img src="../images/profile.svg" alt="Profile Picture">

        <h2 class="name">marina samy</h2>

        <p class="job-title">Front-End Developer</p>

        <p class="description">i love the consistency</p>

        <a href="#" class="contact-btn">Contact Me</a>

    </div>

</body>

