<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day8-activity</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div class="container">
        <div class="item item-1"><h2>Item-1</h2></div>
        <div class="item item-2"><h2>Item-2</h2></div>
        <div class="item item-3"><h2>Item-3</h2></div>
        <div class="item item-4"><h2>Item-4</h2></div>
        <div class="item item-5"><h2>Item-5</h2></div>
        <div class="item item-6"><h2>Item-6</h2></div>
    </div>

</body>
</html>