<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>day7-activity</title>
    <link rel="stylesheet" href="../Css/style.css">
</head>
<body>

    <div class="task-box">
        <h1>Text Properties</h1>
        
        <ul>
            <li class="p-color">color</li>
            <li class="p-shadow">shadow</li>
            <li class="p-align">text align and direction</li>
            <li class="p-deco">textd ecoration</li>
            <li class="p-trans">text transform</li>
            <li class="p-letter">letter spacing</li>
            <li class="p-indent">text indent</li>
            <li class="p-height">line height</li>
            <li class="p-word">word spacing</li>
            <li class="p-space">white space</li>
            <li class="p-break">word break</li>
            <li class="p-overflow">text overflow</li>
        </ul>
    </div>

</body>
</html>